
debug.log
.vscode/
\.idea/
src/.vscode/
src/PDX.API/node_modules/
src/PDX.Schedule/bin/
src/PDX.Schedule/node_modules/.bin/acorn
src/PDX.Schedule/node_modules/
src/PDX.Schedule/obj/Debug/
src/PDX.Scheduler/node_modules/
src/PDX.Scheduler/bin/
src/PDX.Scheduler/obj/
src/PDX.Scheduler/smtp.log
src/PDX.Logging/bin/
src/PDX.Logging/obj/
src/PDX.BLL/bin/
src/PDX.API/obj/
src/PDX.BLL/obj/
src/PDX.DAL/bin/
src/PDX.DAL/obj/
src/PDX.API/bin/
src/PDX.Domain/bin/
src/PDX.Domain/obj/
src/PDX\.API/C:/OpenMRIS/Logs/




src/PDX.API/appsettings.LinuxDevelopment.json
src/PDX.API/error_log.txt
.scannerwork/
